/* 
a{
    color: rgb(163, 67, 67);
    text-decoration: none;
    transition: all 250ms ease-in-out;
    background-color: rgb(101, 176, 176);
    padding: 10px 15px;
    border-radius: 10px;
}

a:hover{
    color: rgb(61, 209, 48);
    background-color: rgb(0, 42, 255);
}
a:first-child{
    margin-right: 20px;
} */
.navigations__component{
    display: flex;
    gap: 20px;
}
.navigations{
    color: rgb(163, 67, 67);
    text-decoration: none;
    transition: all 250ms ease-in-out;
    background-color: rgb(101, 176, 176);
    padding: 10px 15px;
    border-radius: 10px;
}

.navigations:hover{
    color: rgb(61, 209, 48);
    background-color: rgb(0, 42, 255);
}